
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'ZCOOL KuaiLe', cursive;
  /** font-family: "comic sans MS",sans-serif;**/
  cursor: crosshair;
  background-image: url("../images/abstract-backdrop-background-921776.jpg");
}

p {
  color: red;
  font-family: fantasy, arial;
  font-size: 1.5em;
  text-indent: 40px;
  text-transform: capitalize;
  border: 4px dotted black;
  background-color: white;
    text-align: center;
    display: ;



}

h1 {
margin-top: 40px;

}




/**
h2 {

  text-shadow: 6px 3px 5px red;
  padding: 10px 10px 10px 10px;

  margin: 10px 300px 10px 300px;
  width: auto;
  height: auto;
  min-width: 300px;
  max-width: 400px;
  display: inline-block;
}
**/


.header {

  display: ;
}

.title {
  /** border: 4px dotted black; **/
  font-size: 5em;
  text-shadow: 6px 10px 10px red;
  text-align: center;
  /** display: inline; **/
  /** width: 50%; **/
  color: black;
  /**osition: fixed;**/
  background-color: ;
  padding: ;
  border: ;
  align: ;
  margin: ;
  max-width: ;
  display: inline-flex;
}


.section {


}


.welcome {
  width: auto;
  justify-content: center;
  margin: 40px 100px 40px 100px;
  padding: 30px;
  min-width: ;
  max-width: ;
}


div.header {
  text-align: center;
}

.projects {
  margin: ;
  text-align: center;

}

h3 {
  text-align: center;
  color: white;


}

footer {
  background-color: black;
  height: 100px;


}

.footer h3 {
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-top: 50px;
}



/**
h2 {
  font-size: 1.5em;
}

.blocks {
  display: inline-block;
  border: 5px inset red;
  border-radius: 20px 0px 20px 0px;
  margin: 30px;
}

div.blocks h2 {
  text-align: center;
  height: 200px;
  width: 200px;
}
**/


h2 {
  font-size: 1.5em;
  margin-top: ;

}

.blocks {
  display: inline-flex;
  border: 5px inset red;
  border-radius: 40px 0px 40px 0px;
  margin: 20px;
  height: 50px;
  width: 200px;
  text-align: center;
  justify-content:center;
  align-items: center;
  

}

div.blocks {

}

div.blocks h2 {


}
